body
{
font: normal .80em 'trebuchet ms', arial, sans-serif;
background-color:#eeeeee;
background-image:url('../images/image_top.png');
background-repeat:repeat-x;
}

#judul{ margin-left:420px;
		margin-top:-10px;
		color:#FFF;
      }
#step { width:503px;
		margin:auto;
}
h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 35px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #1293EE;}

a:hover
{ text-decoration: none;}

.form_settings
{ margin: 15px 0 0 0;
  margin-top:-20px;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px;  
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: black;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #7D0F0F; 
  color: #FFF;}

.form_settings button
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 260px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1293EE;; 
  color: #FFF;}

.form_settings textarea
{ padding: 5px; 
  }

.form_settings select
{ padding: 4px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}